.layout {
  width: 100%;
  box-sizing: border-box;
  // header
  header {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    .layout-header {
      width: 1450px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      line-height: 60px;
      // logo
      .layout-logo {
        margin-right: 20px;
        padding: 0 10px;
        span {
          font-weight: 700;
        }
      }
      // 导航
      .layout-nav {
        display: flex;
        align-items: center;
      }
    }
  }


  // main
  main {
    position: relative;
    top: 60px;
    // 大图片
    .layout-top-big-image {
      width: 100%;
      height: 420px;
      background-image: url("../assets/images/bg.jpg");
      background-position: 50% 80%;
    }
    // 分割 div
    .layout-main-divrder {
      width: 100%;
      height: 60px;
      background-color: #ffffff;
    }
    // content
    .layout-main-div {
      width: 100%;
      background-color: #F5F5F5;
    }
  }
}
