.layout {
  width: 100%;
  box-sizing: border-box;
  header {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    .layout-header {
      width: 1450px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      line-height: 60px;
      // logo
      .layout-logo {
        margin-right: 20px;
        padding: 0 10px;
        span {
          font-weight: 700;
        }
      }
      // 导航
      .layout-nav {
        display: flex;
        align-items: center;
      }
    }
  }
}
